.botonmodoclaro {
    font-size: medium;
    border-color: rgb(0, 255, 179);
    font-family: 'Bebas Neue', cursive;
    float: right;
    color: rgb(0, 255, 179);
    background-color: grey;
    height: 40px;
}
.espacio {
    float: right;
}
body {
    font-family: 'Belleza', sans-serif;
}
.seccioner {
    float: right;
}
.fotoperfil {
    margin-top: 10px;
    border: double 3px;
    border-color: currentColor;
    padding: 3px;
}
.botonmodooscuro {
    font-size: medium;
    border-color: white;
    font-family: 'Bebas Neue', cursive;
    float: right;
    color: white;
    background-color: grey;
    height: 40px;
}
.info1 {
    float: right;
}
.barra {
    border: 10px gray solid;
    padding: 0px;
    color: white;
    background-color: gray
}
.info {
    float: center;
}
.barra1 {
    background-color: gray;
}
.barra2 {
    border: solid currentColor;
    float: right;   
}
